html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body {
    padding: 2rem 4rem;
}

a:visited {
    color: blue;
}


@media only screen and (max-width: 950px) {
    body {
        padding: 1rem 2rem;
    }
}

@media only screen and (max-width: 600px) {
    body {
        padding: 0.5rem 1rem;
    }
}