<!-- 
    Copied from https://www.matuzo.at/blog/html-boilerplate/. Thanks Manuel!
    
    See HN discussion: https://news.ycombinator.com/item?id=26952557.
    
    Note to myself: read this properly later to understand the boilerplate I am using :)

    I commented out lines that are not relevant now or maybe later, such as resources that are just not there yet.

-->
<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title>

    <script type="module">
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>

    <link rel="stylesheet" href="/assets/css/styles.css" type="text/css">
    <meta property="og:locale" content="en_GB">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">


    <link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <meta name="theme-color" content="#FFFFFF">
</head>

<body>
    <div class="navigation">
        <a href="/">home</a> | <a href="/blog">blog</a>
        <divider></divider>
    </div>
    {{content}}
</body>

</html>